<footer class="page-footer">
	<p>Copyright @ {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a></p>
	<p><a href="http://www.miitbeian.gov.cn/">{{ghost_foot}}沪ICP备16009874号</a></p>
</footer>
